# Traitement_dic

## Step 0: We open the file entitled “distances.txt”

In [62]:
import pandas as pd
import numpy as np

# Read the .txt file
with open('distances2.txt', 'r') as file:
    lines = file.readlines()

## Step 1: We separate our text into 20 lists

In [63]:
liste_1 = []
liste_2 = []
liste_3 = []
liste_4 = []
liste_5 = []
liste_6 = []
liste_7 = []
liste_8 = []
liste_9 = []
liste_10 = []
liste_11 = []
liste_12 = []
liste_13 = []
liste_14 = []
liste_15 = []
liste_16 = []
liste_17 = []
liste_18 = []
liste_19 = []
liste_20 = []


for (i,line) in enumerate(lines) :
 # Suppress spaces and line break
    line = line.strip()
    
# Check if the line is empty (if necessary)
    if not line:
        continue

    # Separate the line in key and value (the last part is the value)
    key_value = line.rsplit(maxsplit=1)  # Use rsplit to separate only at the last space occurrence
    if i%21==0:
        liste_1.append(key_value[1])
    elif i%21==1:
        liste_2.append(key_value[1])
    elif i%21==2:
        liste_3.append(key_value[1])
    elif i%21==3:
        liste_4.append(key_value[1])
    elif i%21==4:
        liste_5.append(key_value[1])
    elif i%21==5:
        liste_6.append(key_value[1])
    elif i%21==6:
        liste_7.append(key_value[1])
    elif i%21==7:
        liste_8.append(key_value[1])
    elif i%21==8:
        liste_9.append(key_value[1])
    elif i%21==9:
        liste_10.append(key_value[1])
    elif i%21==10:
        liste_11.append(key_value[1])
    elif i%21==11:
        liste_12.append(key_value[1])
    elif i%21==12:
        liste_13.append(key_value[1])
    elif i%21==13:
        liste_14.append(key_value[1])
    elif i%21==14:
        liste_15.append(key_value[1])
    elif i%21==15:
        liste_16.append(key_value[1])
    elif i%21==16:
        liste_17.append(key_value[1])
    elif i%21==17:
        liste_18.append(key_value[1])
    elif i%21==18:
        liste_19.append(key_value[1])
    elif i%21==19:
        liste_20.append(key_value[1])

## Step 2: We join the 20 lists into a unique list

In [64]:
liste_finale = [liste_1,liste_2,liste_3,liste_4,liste_5,liste_6,liste_7,liste_8,liste_9,liste_10,liste_11,liste_12,liste_13,liste_14,liste_15,liste_16,liste_17,liste_18,liste_19,liste_20]

## Step 3: We transform this list into a data frame

In [65]:
dataF = pd.DataFrame(list(zip(*liste_finale)))
dataF.rename(columns={0: 'identifiantpp',1: 'code_civilité',2: 'Nom',3: 'Prénom',4: 'RPPS_doc',5: 'code_geo',6: 'xcl',7: 'ycl',8: 'Nb_doct_2km',9: 'Nb_doct_8km',10: 'Nb_doct_30km',11: 'Nb_doct_f_2km',12: 'Nb_doct_f_8km',13: 'Nb_doct_f_30km',14: 'Nb_doct_D_2km',15: 'Nb_doct_D_8km',16: 'Nb_doct_D_30km',17: 'Nb_doct_f_D_2km',18: 'Nb_doct_f_D_8km',19: 'Nb_doct_f_D_30km'}, inplace=True)
print(dataF)

      identifiantpp code_civilité                 Nom     Prénom RPPS_doc  \
0       10000010107           MME  EMMANUEL-POINCELOT  Georgette      NaN
1       10000010867             M             TACONET  CHRISTIAN      NaN
2       10000011808           MME               HAMOT       ENNA      NaN
3       10000012129             M              DIDDEN  JEAN-PAUL      NaN
4       10000012558             M            CHUBERRE       YVES      NaN
...             ...           ...                 ...        ...      ...
85213   10110318671           MME              GACEMI    Djalila      NaN
85214   10110318689           MME               NABTI     Dahlia      NaN
85215   10110318705           MME         LAOUISSETTE     Meriem      NaN
85216   10110318713             M      RAZAFIMANDIMBY  Jean-Marc      NaN
85217   10110318770           MME                SAHI    Keltoum      NaN

      code_geo     xcl      ycl Nb_doct_2km Nb_doct_8km Nb_doct_30km  \
0        33485  453877  6419206    0.001576     0.01208     0.268908
1        95637  628442  6881566    0.000811    0.021161     0.076966
2        75056  652492  6862009    0.504679    0.504679     0.504679
3        11304  633310  6197645    0.000955     0.00191     0.028653
4        56034  243618  6738059    0.002364    0.006145     0.183881
...        ...     ...      ...         ...         ...          ...
85213    94043  652771  6857107    0.006609    0.033166     0.085302
85214    94044  661798  6850019    0.001697    0.041499     0.073913
85215    93047  668525  6867016    0.002285    0.020531     0.063772
85216    94043  652771  6857107    0.006609    0.033166     0.085302
85217    94078  659380  6847987     0.00198    0.022959     0.060009

      Nb_doct_f_2km Nb_doct_f_8km Nb_doct_f_30km Nb_doct_D_2km Nb_doct_D_8km  \
0           0.00105      0.009454       0.108718           0.0       0.00105
1          0.000562      0.010799       0.038327      0.000125      0.001248
2          0.269869      0.269869       0.269869      0.027698      0.027698
3               0.0      0.000318       0.012416           0.0           0.0
4          0.001654      0.004254       0.100685           0.0      0.000236
...             ...           ...            ...           ...           ...
85213      0.003794      0.017664       0.047444      0.000449      0.002611
85214      0.000954      0.023436        0.04111      0.000177       0.00251
85215      0.001178      0.009819       0.030172       0.00025      0.001928
85216      0.003794      0.017664       0.047444      0.000449      0.002611
85217      0.000947      0.012369       0.033376      0.000115       0.00155

      Nb_doct_D_30km Nb_doct_f_D_2km Nb_doct_f_D_8km Nb_doct_f_D_30km
0           0.017857             0.0         0.01208         0.268908
1           0.006804        0.000062        0.021161         0.076966
2           0.027698        0.017218        0.504679         0.504679
3           0.000955             0.0         0.00191         0.028653
4           0.008036             0.0        0.006145         0.183881
...              ...             ...             ...              ...
85213       0.005793        0.000286        0.033166         0.085302
85214       0.005019        0.000141        0.041499         0.073913
85215       0.005606        0.000143        0.020531         0.063772
85216       0.005793        0.000286        0.033166         0.085302
85217       0.004075        0.000029        0.022959         0.060009

[85218 rows x 20 columns]

## Step 4: We merge distances with medecin_gen in dataFF

In [66]:
medecin_gen = pd.read_csv('medecin_gen.csv')
medecin_gen.shape
#5289 doctors

(5289, 61)

In [67]:
medecin_gen['RPPS'] = medecin_gen['RPPS'].astype(str)

In [68]:
medecin_gen.shape

(5289, 61)

In [69]:
#First attempt to merge
dataFF_outer = medecin_gen.merge(dataF, how='outer', right_on=['identifiantpp','code_geo'],left_on=['RPPS','CODGEO'], indicator=True)
#Filter the lines without any match in the data frame
medecin_no_match = dataFF_outer[dataFF_outer['_merge'] == 'left_only']
dataF_no_match = dataFF_outer[dataFF_outer['_merge'] == 'right_only']

In [70]:
medecin_no_match.head()

,Unnamed: 0,index,Doctor Name,Specialty,card_0,card_3,card_4,Latitude,Longitude,Skills Processed,...,Nb_doct_f_2km,Nb_doct_f_8km,Nb_doct_f_30km,Nb_doct_D_2km,Nb_doct_D_8km,Nb_doct_D_30km,Nb_doct_f_D_2km,Nb_doct_f_D_8km,Nb_doct_f_D_30km,_merge
713,4757.0,124108.0,Dr Pascal BEAUFRERE,Médecin généraliste,"['Tarifs et remboursement', '', '', '', '', 'C...","['Horaires et coordonnées', ""Horaires d'ouvert...",NaN,47.279059,-2.480231,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1861,1098.0,18579.0,Dr Maria GAULARD-DERIU,Médecin généraliste,"['Tarifs et remboursement', '', 'Conventionné ...","['Horaires et coordonnées', ""Contact d'urgence...","['Tarifs', 'Consultation pour personne seule (...",48.867049,2.809954,"['Expertises et actes', 'Sexologie médicale']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1976,1456.0,27886.0,Dr Jean-François LEGROS,Médecin généraliste,"['Tarifs et remboursement', '', 'Conventionné ...","['Horaires et coordonnées', ""Horaires d'ouvert...","['Tarifs', 'Consultation sur rendez-vous', '50...",48.885433,2.854163,"['Expertises et actes', 'Vaccination COVID-19'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1980,3582.0,90396.0,Dr Thierry GUEUTIN,Médecin généraliste,"['Tarifs et remboursement', '', '', 'Conventio...","['Horaires et coordonnées', ""Horaires d'ouvert...","['Tarifs', 'Consultation de suivi de médecine ...",48.377695,2.788310,"['Expertises et actes', 'Infiltration', 'Inter...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1981,3583.0,90396.0,Dr Thierry GUEUTIN,Médecin généraliste,"['Tarifs et remboursement', '', '', 'Conventio...","['Horaires et coordonnées', ""Horaires d'ouvert...","['Tarifs', 'Consultation de suivi de médecine ...",48.377695,2.788310,"['Expertises et actes', 'Infiltration', 'Inter...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [71]:
dataF[dataF['identifiantpp']==medecin_no_match['RPPS'].iloc[0]]

Empty DataFrame
Columns: [identifiantpp, code_civilité, Nom, Prénom, RPPS_doc, code_geo, xcl, ycl, Nb_doct_2km, Nb_doct_8km, Nb_doct_30km, Nb_doct_f_2km, Nb_doct_f_8km, Nb_doct_f_30km, Nb_doct_D_2km, Nb_doct_D_8km, Nb_doct_D_30km, Nb_doct_f_D_2km, Nb_doct_f_D_8km, Nb_doct_f_D_30km]
Index: []

In [72]:
dataFF=medecin_gen.merge(dataF,right_on=['identifiantpp'],left_on=['RPPS'],how='inner' )
dataFF.drop(columns=['Unnamed: 0'],inplace=True)
dataFF.shape

(6333, 80)

## Step 5: We save this data frame in a .csv file

In [73]:
dataFF.to_csv('dataFF.csv')