# Step 0: We open the file entitled “distances3.txt”

In [124]:
import pandas as pd
import numpy as np
import geopandas as gpd

# Read the .txt file
with open('distances3.txt', 'r') as file:
    lines = file.readlines()

# Step 1: We separate our text into 20 lists

In [125]:
liste_1 = []
liste_2 = []
liste_3 = []
liste_4 = []
liste_5 = []
liste_6 = []
liste_7 = []
liste_8 = []
liste_9 = []
liste_10 = []
liste_11 = []
liste_12 = []
liste_13 = []
liste_14 = []
liste_15 = []
liste_16 = []
liste_17 = []
liste_18 = []
liste_19 = []
liste_20 = []


for (i,line) in enumerate(lines) :
 # Suppress spaces and line break
    line = line.strip()
    
# Check if the line is empty (if necessary)
    if not line:
        continue

    # Separate the line in key and value (the last part is the value)
    key_value = line.rsplit(maxsplit=1)  # Use rsplit to separate only at the last space occurrence
    if i%21==0:
        liste_1.append(key_value[1])
    elif i%21==1:
        liste_2.append(key_value[1])
    elif i%21==2:
        liste_3.append(key_value[1])
    elif i%21==3:
        liste_4.append(key_value[1])
    elif i%21==4:
        liste_5.append(key_value[1])
    elif i%21==5:
        liste_6.append(key_value[1])
    elif i%21==6:
        liste_7.append(key_value[1])
    elif i%21==7:
        liste_8.append(key_value[1])
    elif i%21==8:
        liste_9.append(key_value[1])
    elif i%21==9:
        liste_10.append(key_value[1])
    elif i%21==10:
        liste_11.append(key_value[1])
    elif i%21==11:
        liste_12.append(key_value[1])
    elif i%21==12:
        liste_13.append(key_value[1])
    elif i%21==13:
        liste_14.append(key_value[1])
    elif i%21==14:
        liste_15.append(key_value[1])
    elif i%21==15:
        liste_16.append(key_value[1])
    elif i%21==16:
        liste_17.append(key_value[1])
    elif i%21==17:
        liste_18.append(key_value[1])
    elif i%21==18:
        liste_19.append(key_value[1])
    elif i%21==19:
        liste_20.append(key_value[1])

# Step 2: We join the 20 lists into a unique list

In [126]:
liste_finale = [liste_1,liste_2,liste_3,liste_4,liste_5,liste_6,liste_7,liste_8,liste_9,liste_10,liste_11,liste_12,liste_13,liste_14,liste_15,liste_16,liste_17,liste_18,liste_19,liste_20]

# Step 3: We transform this list into a data frame

In [127]:
dataF = pd.DataFrame(list(zip(*liste_finale)))
dataF.rename(columns={0: 'identifiantpp',1: 'code_civilité',2: 'Nom',3: 'Prénom',4: 'RPPS_doc',5: 'code_geo',6: 'xcl',7: 'ycl',8: 'Nb_doct_2km',9: 'Nb_doct_8km',10: 'Nb_doct_30km',11: 'Nb_doct_f_2km',12: 'Nb_doct_f_8km',13: 'Nb_doct_f_30km',14: 'Nb_doct_D_2km',15: 'Nb_doct_D_8km',16: 'Nb_doct_D_30km',17: 'Nb_doct_f_D_2km',18: 'Nb_doct_f_D_8km',19: 'Nb_doct_f_D_30km'}, inplace=True)
print(dataF)

      identifiantpp code_civilité                 Nom     Prénom RPPS_doc  \
0       10000010107           MME  EMMANUEL-POINCELOT  Georgette      NaN
1       10000010867             M             TACONET  CHRISTIAN      NaN
2       10000011808           MME               HAMOT       ENNA      NaN
3       10000012129             M              DIDDEN  JEAN-PAUL      NaN
4       10000012558             M            CHUBERRE       YVES      NaN
...             ...           ...                 ...        ...      ...
97359   10110318689           MME               NABTI     Dahlia      NaN
97360   10110318705           MME         LAOUISSETTE     Meriem      NaN
97361   10110318713             M      RAZAFIMANDIMBY  Jean-Marc      NaN
97362   10110318739           MME             DAHMANI    Kamélia      NaN
97363   10110318770           MME                SAHI    Keltoum      NaN

      code_geo     xcl      ycl Nb_doct_2km Nb_doct_8km Nb_doct_30km  \
0        33485  453877  6419206    0.001576    0.012605     0.280462
1        95637  628442  6881566    0.000811     0.02166     0.079089
2        75056  652492  6862009    0.508671    0.508671     0.508671
3        11304  633310  6197645     0.00191    0.002865     0.037249
4        56034  243618  6738059    0.002364    0.006618     0.196644
...        ...     ...      ...         ...         ...          ...
97359    94044  661798  6850019    0.001697    0.042489     0.074973
97360    93047  668525  6867016    0.002285    0.024031     0.071842
97361    94043  652771  6857107    0.006609    0.033452     0.086526
97362    40192  418758  6316438    0.005842    0.005909     0.010917
97363    94078  659380  6847987     0.00198    0.023762      0.06087

      Nb_doct_f_2km Nb_doct_f_8km Nb_doct_f_30km Nb_doct_D_2km Nb_doct_D_8km  \
0           0.00105      0.009979       0.113445           0.0       0.00105
1          0.000562      0.010986       0.039388      0.000125      0.001248
2          0.271865      0.271865       0.271865      0.027698      0.027698
3          0.000318      0.000637       0.015918           0.0           0.0
4          0.001654      0.004491       0.107303           0.0      0.000236
...             ...           ...            ...           ...           ...
97359      0.000954      0.024001       0.041676      0.000177      0.002545
97360      0.001178      0.011569       0.035885       0.00025      0.002107
97361      0.003794      0.017827       0.048097      0.000449      0.002611
97362      0.003005      0.003038       0.005308      0.000267      0.000267
97363      0.000947      0.012828       0.033836      0.000115      0.001578

      Nb_doct_D_30km Nb_doct_f_D_2km Nb_doct_f_D_8km Nb_doct_f_D_30km
0           0.017857             0.0        0.012605         0.280462
1           0.006866        0.000062         0.02166         0.079089
2           0.027698        0.017218        0.508671         0.508671
3           0.001273             0.0        0.002865         0.037249
4           0.008509             0.0        0.006618         0.196644
...              ...             ...             ...              ...
97359       0.005055        0.000141        0.042489         0.074973
97360       0.005892        0.000143        0.024031         0.071842
97361       0.005834        0.000286        0.033452         0.086526
97362       0.000601        0.000067        0.005909         0.010917
97363       0.004104        0.000029        0.023762          0.06087

[97364 rows x 20 columns]

# Step 4: We add the good code commune to medecin_gen to do a good merge with dataF later

In [128]:
medecin_gen = pd.read_csv('medecin_gen.csv')
medecin_gen.shape

(5267, 106)

In [129]:
medecin_gen.columns

Index(['Unnamed: 0', 'level_0', 'identifiantpp', 'identificationnationalepp',
       'codecivilité', 'nomdexercice', 'prénomdexercice',
       'codecatégorieprofessionnelle', 'codesavoirfaire', 'libellésavoirfaire',
       ...
       'Population', 'Superficie', 'Naissances', 'Deces', 'Logements',
       'Ménages', 'MED14', 'Population_P_actif', 'Chomeurs', 'Actifs'],
      dtype='object', length=106)

In [130]:
medecin_gen['RPPS'] = medecin_gen['RPPS'].astype(str)

In [131]:
gdf = gpd.read_file('data/a-com2022-topo-2154.json')
gdf.head()

c:\miniconda\Lib\site-packages\pyogrio\geopandas.py:261: UserWarning: More than one layer found in 'a-com2022-topo-2154.json': 'a_com2022' (default), 'a_reg2022', 'a_dep2022'. Specify layer parameter to avoid this warning.
  result = read_func(

,id,codgeo,dep,reg,xcl2154,ycl2154,libgeo,geometry
0,None,01001,01,84,848241,6563021,L'Abergement-Clémenciat,"POLYGON ((846981.436 6564107.36, 847017.457 65..."
1,None,01002,01,84,887495,6548152,L'Abergement-de-Varey,"POLYGON ((886027.651 6548170.9, 886157.325 654..."
2,None,01004,01,84,882724,6542583,Ambérieu-en-Bugey,"POLYGON ((884889.404 6539629.931, 884795.75 65..."
3,None,01005,01,84,847277,6545791,Ambérieux-en-Dombes,"POLYGON ((845951.25 6547999.078, 846073.72 654..."
4,None,01006,01,84,902191,6519791,Ambléon,"POLYGON ((901336.361 6521123.305, 902460.201 6..."

In [132]:
def codecom2(codecom1):
    if str(codecom1).startswith('75'):
        return('75056')
    elif str(codecom1).startswith('693'):
        return('69123')
    elif str(codecom1).startswith('132'):
        return('13055')
    elif str(codecom1).startswith('91182'):
        return('91228')
    elif str(codecom1).startswith('85257'):
        return('85090')
    elif str(codecom1).startswith('85217'):
        return('85146')
    elif str(codecom1).startswith('85166'):
        return('85194')
    elif str(codecom1).startswith('74011'):
        return('74010')
    elif str(codecom1).startswith('74181'):
        return('74112')
    elif str(codecom1).startswith('74268') or str(codecom1).startswith('74093') or str(codecom1).startswith('74217'):
        return('74010')
    elif str(codecom1).startswith('50203'):
        return('50129')
    elif str(codecom1).startswith('59540'):
        return('59139')
    elif str(codecom1).startswith('49199'):
        return('71291')
    elif str(codecom1).startswith('29052'):
        return('29003')
    elif str(codecom1).startswith('85060'):
        return('85194')
    elif str(codecom1).startswith('50602'):
        return('50129')
    elif str(codecom1).startswith('49285'):
        return('49301')
    elif str(codecom1).startswith('85107'):
        return('85146')
    elif str(codecom1).startswith('50173'):
        return('50129')
    elif str(codecom1).startswith('49065'):
        return('49080')   
    elif str(codecom1).startswith('49375'):
        return('49023')
    elif str(codecom1).startswith('85069'):
        return('85008')  
    elif str(codecom1).startswith('85069'):
        return('85008')   
    elif str(codecom1).startswith('49276'):
        return('49244') 
    elif str(codecom1).startswith('49273'):
        return('49301')
    elif 'A' in str(codecom1):
        return(str(codecom1).replace('A','0'))
    elif 'B' in str(codecom1):
        return(str(codecom1).replace('B','0'))  
    elif int(codecom1)//10000==0:
        return('0'+str(codecom1))
    else :
        return(str(codecom1))

In [133]:
medecin_gen['code_commune2'] = medecin_gen['codecommunecoordstructure'].apply(codecom2)

In [134]:
df_merged_gdf = medecin_gen.merge(gdf, how='inner', left_on='code_commune2', right_on='codgeo')

In [135]:
df_merged_gdf.shape

(5265, 115)

In [136]:
len(df_merged_gdf['RPPS'].unique())

4538

# Step 5  : We try different merges between medecin_gen and dataF

In [137]:
dataFF=medecin_gen.merge(dataF,left_on=['RPPS'],right_on=['identifiantpp'],how='inner' )
dataFF.drop(columns=['Unnamed: 0'],inplace=True)
dataFF.shape

(6873, 126)

In [138]:
len(dataFF['RPPS'].unique())

4379

In [139]:
dataFF_inner = df_merged_gdf.merge(dataF, how='inner', right_on=['identifiantpp','code_geo'],left_on=['RPPS','code_commune2'], indicator=True)

In [140]:
dataFF_inner.shape

(5294, 136)

In [141]:
len(dataFF_inner['RPPS'].unique())

4379

In [142]:
dataFF_inner['Nb_doct_2km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_8km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_30km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_2km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_8km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_30km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_D_2km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_D_8km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_D_30km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_D_2km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_D_8km'].replace('.',',',inplace=True) 
dataFF_inner['Nb_doct_f_D_30km'].replace('.',',',inplace=True)

C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_2km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_8km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_30km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_2km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_8km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_30km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_D_2km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_D_8km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_D_30km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_D_2km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_D_8km'].replace('.',',',inplace=True)
C:\Users\agath\AppData\Local\Temp\ipykernel_19624\3498295224.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFF_inner['Nb_doct_f_D_30km'].replace('.',',',inplace=True)

In [143]:
dataFF_inner['Nb_doct_2km']=dataFF_inner['Nb_doct_2km'].astype(float) 
dataFF_inner['Nb_doct_8km']=dataFF_inner['Nb_doct_8km'].astype(float) 
dataFF_inner['Nb_doct_30km']=dataFF_inner['Nb_doct_30km'].astype(float) 
dataFF_inner['Nb_doct_f_2km']=dataFF_inner['Nb_doct_f_2km'].astype(float) 
dataFF_inner['Nb_doct_f_8km']=dataFF_inner['Nb_doct_f_8km'].astype(float) 
dataFF_inner['Nb_doct_f_30km']=dataFF_inner['Nb_doct_f_30km'].astype(float) 
dataFF_inner['Nb_doct_D_2km']=dataFF_inner['Nb_doct_D_2km'].astype(float) 
dataFF_inner['Nb_doct_D_8km']=dataFF_inner['Nb_doct_D_8km'].astype(float) 
dataFF_inner['Nb_doct_D_30km']=dataFF_inner['Nb_doct_D_30km'].astype(float) 
dataFF_inner['Nb_doct_f_D_2km']=dataFF_inner['Nb_doct_f_D_2km'].astype(float) 
dataFF_inner['Nb_doct_f_D_8km']=dataFF_inner['Nb_doct_f_D_2km'].astype(float) 
dataFF_inner['Nb_doct_f_D_30km']=dataFF_inner['Nb_doct_f_D_2km'].astype(float)

In [144]:
dataFF_inner['same_gender_2km'] = dataFF_inner.apply(lambda x: x['Nb_doct_f_2km'] if x['gender']==1 else x['Nb_doct_2km']-x['Nb_doct_f_2km'], axis=1)
dataFF_inner['same_gender_8km'] = dataFF_inner.apply(lambda x: x['Nb_doct_f_8km'] if x['gender']==1 else x['Nb_doct_8km']-x['Nb_doct_f_8km'], axis=1)
dataFF_inner['same_gender_30km'] = dataFF_inner.apply(lambda x: x['Nb_doct_f_30km'] if x['gender']==1 else x['Nb_doct_30km']-x['Nb_doct_f_30km'], axis=1)

# Step 6: We save this data frame in a .csv file

In [145]:
dataFF_inner.to_csv('dataFF.csv')