## Step 0: We open the file entitled “distances.txt”

In [94]:
import pandas as pd
import numpy as np
import geopandas as gpd

# Read the .txt file
with open('distances2.txt', 'r') as file:
    lines = file.readlines()

## Step 1: We separate our text into 20 lists

In [95]:
liste_1 = []
liste_2 = []
liste_3 = []
liste_4 = []
liste_5 = []
liste_6 = []
liste_7 = []
liste_8 = []
liste_9 = []
liste_10 = []
liste_11 = []
liste_12 = []
liste_13 = []
liste_14 = []
liste_15 = []
liste_16 = []
liste_17 = []
liste_18 = []
liste_19 = []
liste_20 = []


for (i,line) in enumerate(lines) :
 # Suppress spaces and line break
    line = line.strip()
    
# Check if the line is empty (if necessary)
    if not line:
        continue

    # Separate the line in key and value (the last part is the value)
    key_value = line.rsplit(maxsplit=1)  # Use rsplit to separate only at the last space occurrence
    if i%21==0:
        liste_1.append(key_value[1])
    elif i%21==1:
        liste_2.append(key_value[1])
    elif i%21==2:
        liste_3.append(key_value[1])
    elif i%21==3:
        liste_4.append(key_value[1])
    elif i%21==4:
        liste_5.append(key_value[1])
    elif i%21==5:
        liste_6.append(key_value[1])
    elif i%21==6:
        liste_7.append(key_value[1])
    elif i%21==7:
        liste_8.append(key_value[1])
    elif i%21==8:
        liste_9.append(key_value[1])
    elif i%21==9:
        liste_10.append(key_value[1])
    elif i%21==10:
        liste_11.append(key_value[1])
    elif i%21==11:
        liste_12.append(key_value[1])
    elif i%21==12:
        liste_13.append(key_value[1])
    elif i%21==13:
        liste_14.append(key_value[1])
    elif i%21==14:
        liste_15.append(key_value[1])
    elif i%21==15:
        liste_16.append(key_value[1])
    elif i%21==16:
        liste_17.append(key_value[1])
    elif i%21==17:
        liste_18.append(key_value[1])
    elif i%21==18:
        liste_19.append(key_value[1])
    elif i%21==19:
        liste_20.append(key_value[1])

## Step 2: We join the 20 lists into a unique list

In [96]:
liste_finale = [liste_1,liste_2,liste_3,liste_4,liste_5,liste_6,liste_7,liste_8,liste_9,liste_10,liste_11,liste_12,liste_13,liste_14,liste_15,liste_16,liste_17,liste_18,liste_19,liste_20]

## Step 3: We transform this list into a data frame

In [97]:
dataF = pd.DataFrame(list(zip(*liste_finale)))
dataF.rename(columns={0: 'identifiantpp',1: 'code_civilité',2: 'Nom',3: 'Prénom',4: 'RPPS_doc',5: 'code_geo',6: 'xcl',7: 'ycl',8: 'Nb_doct_2km',9: 'Nb_doct_8km',10: 'Nb_doct_30km',11: 'Nb_doct_f_2km',12: 'Nb_doct_f_8km',13: 'Nb_doct_f_30km',14: 'Nb_doct_D_2km',15: 'Nb_doct_D_8km',16: 'Nb_doct_D_30km',17: 'Nb_doct_f_D_2km',18: 'Nb_doct_f_D_8km',19: 'Nb_doct_f_D_30km'}, inplace=True)
print(dataF)

      identifiantpp code_civilité                 Nom     Prénom RPPS_doc  \
0       10000010107           MME  EMMANUEL-POINCELOT  Georgette      NaN
1       10000010867             M             TACONET  CHRISTIAN      NaN
2       10000011808           MME               HAMOT       ENNA      NaN
3       10000012129             M              DIDDEN  JEAN-PAUL      NaN
4       10000012558             M            CHUBERRE       YVES      NaN
...             ...           ...                 ...        ...      ...
85213   10110318671           MME              GACEMI    Djalila      NaN
85214   10110318689           MME               NABTI     Dahlia      NaN
85215   10110318705           MME         LAOUISSETTE     Meriem      NaN
85216   10110318713             M      RAZAFIMANDIMBY  Jean-Marc      NaN
85217   10110318770           MME                SAHI    Keltoum      NaN

      code_geo     xcl      ycl Nb_doct_2km Nb_doct_8km Nb_doct_30km  \
0        33485  453877  6419206    0.001576     0.01208     0.268908
1        95637  628442  6881566    0.000811    0.021161     0.076966
2        75056  652492  6862009    0.504679    0.504679     0.504679
3        11304  633310  6197645    0.000955     0.00191     0.028653
4        56034  243618  6738059    0.002364    0.006145     0.183881
...        ...     ...      ...         ...         ...          ...
85213    94043  652771  6857107    0.006609    0.033166     0.085302
85214    94044  661798  6850019    0.001697    0.041499     0.073913
85215    93047  668525  6867016    0.002285    0.020531     0.063772
85216    94043  652771  6857107    0.006609    0.033166     0.085302
85217    94078  659380  6847987     0.00198    0.022959     0.060009

      Nb_doct_f_2km Nb_doct_f_8km Nb_doct_f_30km Nb_doct_D_2km Nb_doct_D_8km  \
0           0.00105      0.009454       0.108718           0.0       0.00105
1          0.000562      0.010799       0.038327      0.000125      0.001248
2          0.269869      0.269869       0.269869      0.027698      0.027698
3               0.0      0.000318       0.012416           0.0           0.0
4          0.001654      0.004254       0.100685           0.0      0.000236
...             ...           ...            ...           ...           ...
85213      0.003794      0.017664       0.047444      0.000449      0.002611
85214      0.000954      0.023436        0.04111      0.000177       0.00251
85215      0.001178      0.009819       0.030172       0.00025      0.001928
85216      0.003794      0.017664       0.047444      0.000449      0.002611
85217      0.000947      0.012369       0.033376      0.000115       0.00155

      Nb_doct_D_30km Nb_doct_f_D_2km Nb_doct_f_D_8km Nb_doct_f_D_30km
0           0.017857             0.0         0.01208         0.268908
1           0.006804        0.000062        0.021161         0.076966
2           0.027698        0.017218        0.504679         0.504679
3           0.000955             0.0         0.00191         0.028653
4           0.008036             0.0        0.006145         0.183881
...              ...             ...             ...              ...
85213       0.005793        0.000286        0.033166         0.085302
85214       0.005019        0.000141        0.041499         0.073913
85215       0.005606        0.000143        0.020531         0.063772
85216       0.005793        0.000286        0.033166         0.085302
85217       0.004075        0.000029        0.022959         0.060009

[85218 rows x 20 columns]

# Step 4: We add the good code commune to medecin_gen to do a good merge later with dataF

In [98]:
medecin_gen = pd.read_csv('medecin_gen.csv')
medecin_gen.shape
#5289 doctors

(5267, 105)

In [99]:
medecin_gen.columns

Index(['Unnamed: 0', 'level_0', 'identifiantpp', 'identificationnationalepp',
       'codecivilité', 'nomdexercice', 'prénomdexercice',
       'codecatégorieprofessionnelle', 'codesavoirfaire', 'libellésavoirfaire',
       ...
       'Population', 'Superficie', 'Naissances', 'Deces', 'Logements',
       'Ménages', 'MED14', 'Population_P_actif', 'Chomeurs', 'Actifs'],
      dtype='object', length=105)

In [100]:
len(medecin_gen['RPPS'].unique())

4539

In [101]:
medecin_gen['RPPS'] = medecin_gen['RPPS'].astype(str)

In [102]:
gdf = gpd.read_file('data/a-com2022-topo-2154.json')
gdf.head()

,id,codgeo,dep,reg,xcl2154,ycl2154,libgeo,geometry
0,None,01001,01,84,848241,6563021,L'Abergement-Clémenciat,"POLYGON ((846981.436 6564107.360, 847017.457 6..."
1,None,01002,01,84,887495,6548152,L'Abergement-de-Varey,"POLYGON ((886027.651 6548170.900, 886157.325 6..."
2,None,01004,01,84,882724,6542583,Ambérieu-en-Bugey,"POLYGON ((884889.404 6539629.931, 884795.750 6..."
3,None,01005,01,84,847277,6545791,Ambérieux-en-Dombes,"POLYGON ((845951.250 6547999.078, 846073.720 6..."
4,None,01006,01,84,902191,6519791,Ambléon,"POLYGON ((901336.361 6521123.305, 902460.201 6..."

In [103]:
def codecom2(codecom1):
    if str(codecom1).startswith('75'):
        return('75056')
    elif str(codecom1).startswith('693'):
        return('69123')
    elif str(codecom1).startswith('132'):
        return('13055')
    elif str(codecom1).startswith('91182'):
        return('91228')
    elif str(codecom1).startswith('85257'):
        return('85090')
    elif str(codecom1).startswith('85217'):
        return('85146')
    elif str(codecom1).startswith('85166'):
        return('85194')
    elif str(codecom1).startswith('74011'):
        return('74010')
    elif str(codecom1).startswith('74181'):
        return('74112')
    elif str(codecom1).startswith('74268') or str(codecom1).startswith('74093') or str(codecom1).startswith('74217'):
        return('74010')
    elif str(codecom1).startswith('50203'):
        return('50129')
    elif str(codecom1).startswith('59540'):
        return('59139')
    elif str(codecom1).startswith('49199'):
        return('71291')
    elif str(codecom1).startswith('29052'):
        return('29003')
    elif str(codecom1).startswith('85060'):
        return('85194')
    elif str(codecom1).startswith('50602'):
        return('50129')
    elif str(codecom1).startswith('49285'):
        return('49301')
    elif str(codecom1).startswith('85107'):
        return('85146')
    elif str(codecom1).startswith('50173'):
        return('50129')
    elif str(codecom1).startswith('49065'):
        return('49080')   
    elif str(codecom1).startswith('49375'):
        return('49023')
    elif str(codecom1).startswith('85069'):
        return('85008')  
    elif str(codecom1).startswith('85069'):
        return('85008')   
    elif str(codecom1).startswith('49276'):
        return('49244') 
    elif str(codecom1).startswith('49273'):
        return('49301')
    elif 'A' in str(codecom1):
        return(str(codecom1).replace('A','0'))
    elif 'B' in str(codecom1):
        return(str(codecom1).replace('B','0'))  
    elif int(codecom1)//10000==0:
        return('0'+str(codecom1))
    else :
        return(str(codecom1))

In [104]:
type(medecin_gen['codecommunecoordstructure'][0])

numpy.int64

In [105]:
medecin_gen['codecommunecoordstructure'].isnull().sum()

0

In [106]:
medecin_gen['code_commune2'] = medecin_gen['codecommunecoordstructure'].apply(codecom2)

In [107]:
df_merged_gdf = medecin_gen.merge(gdf, how='inner', left_on='code_commune2', right_on='codgeo')

In [109]:
medecin_gen['codecommunecoordstructure3']=medecin_gen['codecommunecoordstructure3'].astype(str)

In [110]:
df_merged_gdf3=medecin_gen.merge(gdf, how='inner', left_on='codecommunecoordstructure3', right_on='codgeo')

In [111]:
df_merged_gdf3.shape

(5030, 114)

In [112]:
df_merged_gdf.shape
#5033 doctors, 256 doctors have been lost

(5265, 114)

In [113]:
len(df_merged_gdf['RPPS'].unique())

4538

In [114]:
#First attempt to merge
dataFF_outer = medecin_gen.merge(dataF, how='outer', right_on=['identifiantpp','code_geo'],left_on=['RPPS','codecommunecoordstructure3'], indicator=True)
#Filter the lines without any match in the data frame
medecin_no_match = dataFF_outer[dataFF_outer['_merge'] == 'left_only']
dataF_no_match = dataFF_outer[dataFF_outer['_merge'] == 'right_only']

In [115]:
medecin_gen.columns

Index(['Unnamed: 0', 'level_0', 'identifiantpp', 'identificationnationalepp',
       'codecivilité', 'nomdexercice', 'prénomdexercice',
       'codecatégorieprofessionnelle', 'codesavoirfaire', 'libellésavoirfaire',
       ...
       'Superficie', 'Naissances', 'Deces', 'Logements', 'Ménages', 'MED14',
       'Population_P_actif', 'Chomeurs', 'Actifs', 'code_commune2'],
      dtype='object', length=106)

In [116]:
dataFF_inner = df_merged_gdf.merge(dataF, how='inner', right_on=['identifiantpp','code_geo'],left_on=['RPPS','code_commune2'], indicator=True)

In [117]:
dataFF_inner.shape

(4931, 135)

In [118]:
len(dataFF_inner['RPPS'].unique())

4157

In [127]:
medecin_gen.columns

Index(['Unnamed: 0', 'level_0', 'identifiantpp', 'identificationnationalepp',
       'codecivilité', 'nomdexercice', 'prénomdexercice',
       'codecatégorieprofessionnelle', 'codesavoirfaire', 'libellésavoirfaire',
       ...
       'Superficie', 'Naissances', 'Deces', 'Logements', 'Ménages', 'MED14',
       'Population_P_actif', 'Chomeurs', 'Actifs', 'code_commune2'],
      dtype='object', length=106)

In [126]:
dataFF=medecin_gen.merge(dataF,left_on=['identifiantpp','codecommunecoordstructure3'],right_on=['RPPS','code_geo'],how='inner' )
dataFF.drop(columns=['Unnamed: 0'],inplace=True)
dataFF.shape

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/rf/dqdwsk6s06ngm9b4j17fkb2r0000gn/T/ipykernel_36096/3307865019.py", line 1, in <module>
    dataFF=medecin_gen.merge(dataF,left_on=['identifiantpp','codecommunecoordstructure3'],right_on=['RPPS','code_geo'],how='inner' )
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pandas/core/frame.py", line 10832, in merge
    return merge(
           ^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pandas/core/reshape/merge.py", line 170, in merge
    op = _MergeOperation(
         ^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pandas/core/reshape/merge.py", line 794, in __init__
    ) = self._get_merge_keys()
        ^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pandas/core/reshape/merge.py", line 1297, in _get_merge_keys
    right_keys.append(right._get_label_or_level_values(rk))
                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pandas/core/generic.py", line 1911, in _get_label_or_level_values
    raise KeyError(key)
KeyError: 'RPPS'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1063, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1115, in get_records
    style = stack_data.style_with_executing_node(style, self._tb_highlight)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 455, in style_with_executing_node
    class NewStyle(style):
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pygments/style.py", line 91, in __new__
    ndef[4] = colorformat(styledef[3:])
              ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/julie/miniconda3/lib/python3.11/site-packages/pygments/style.py", line 58, in colorformat
    assert False, "wrong color format %r" % text
AssertionError: wrong color format 'ansiyellow'

In [59]:
len(dataFF['RPPS'].unique())

4157

## Step 5: We save this data frame in a .csv file

In [73]:
dataFF.to_csv('dataFF.csv')